BACKEND_PORT=8000
FRONTEND_PORT=5173
MYSQL_PORT=3307
REDIS_PORT=6380

DB_DATABASE=plant_disease
DB_USERNAME=plant
DB_PASSWORD=plant_secret
DB_ROOT_PASSWORD=root_secret

AUTO_MIGRATE=true
PREDICT_URL=http://host.docker.internal:5000/predict

RDA_API_KEY=
API_URL=http://ncpms.rda.go.kr/npmsAPI/service
MAILERSEND_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
VITE_GOOGLE_CLIENT_ID=
